*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.navBar{
    top: 0;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}
.logo{
  width: 130px;
  margin-left: 50px;
}
.navBar p{
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
}
.navBar li{
  margin-left: 10px;
  font-size: 20px;
}
.navBar ul li{
  list-style-type: none;
    display: inline-block;
    margin: 0 40px;
   font-family: 'Roboto Condensed', sans-serif;
}
.navBar ul li a {
    text-decoration: none;
    color: #fff;
}
.contact_us{
    padding: 11px 0;
    border-bottom: 2px solid white;
}
.navBar ul li a:hover{
    padding: 11px 0;
    border-bottom: 2px solid rgb(156, 156, 156);
}
.login{
    background-color:#6b933e;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    margin-right: 50px;
    font-family: 'Roboto Condensed', sans-serif;
}
.login:hover{
    box-shadow:#3b6b38 1px 12px 20px, #3b6b38 0px -12px 20px, #3b6b38 0px 4px 6px, #3b6b38 -15px -3px 20px, #3b6b38 15px -3px 20px;
}
.search{
    display: flex;
}
.searchBar{
    width: 200px;
    border: 3px solid #fff;
    background-color: transparent;
    padding:10px;
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}
.searchBar:hover{
    border-radius: 10px;
}
.searchIcon{
    width: 40px;
    height: 47px;
    border:3px solid #fff;
    background:#6b933e ;
    text-align: center;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}
.searchIcon:hover{
    border-radius: 10px;
}
.footerSection{
    background-color: black;
    padding: 0 70px;
}
.links-col h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 25px;
}
.links-col p{
    color: #fff;
}
.links-col{
    width: 21%;
    padding: 0 15px;
    margin-left:40px;
}
.links-col2{
    margin-top: 50px;
}
.links-col2a{
/*   margin-left:20px; */
  width:150px;
}
.links-col1{
    margin-left: 30px;
}
.row ul li{
    padding: 3px;
}
.row ul li a{
   text-decoration: none;
   color: rgb(121, 105, 105);
}
.row a:hover{
    color: #6b933e;
}
.socialMedias a{
    margin-left: 10px;
    font-size: 23px;
    padding: 15px;
    border-radius: 10% 30% 50% 70%;
    text-decoration: none;
    color: #fff;
    background-color: #6b933e;
}
.socialMedias a:hover{
    color: rgb(121, 105, 105);
}
.copyNfollow{
    padding: 10px;
    margin-top: 20px;
}
.copyNfollow p{
    margin-bottom: 10px;
}
.copyNfollow span{
    color: #6b933e;
}
.Thanks{
    color: #fff;
    text-align: center;
    padding: 20px;
}
.contact h1{
    margin:65px 52px 35px 206px;
}

.contact-info h3{
    margin: -498px -356px 68px -167px;
    display: flex;
    align-content: center;
}
.contact-info p{
    margin: -436px 89px 12px 137px;
    display: flex;
    align-content: center;
}
.contact-frm{
    width: 400px;
    height: 700px;
    padding: 0px 0px 0px 40px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    margin: -123px 50px 40px 100px;
}
.field{
    margin:140px 45px 34px 3px;
    padding: 0px;
    flex-direction: column;
}
.field-col{
    display: flex;
    width:98%;
    box-sizing: inherit;
    justify-content: space-between;
}
label{
    display: block;
    color: #03363d;
    font-family: sans-serif;
    text-align: left;
    margin-bottom: 15px;
}
.col-1{
    background: #f8f9f9;
    border-radius: 0;
    border: 1px solid lightgray;
    box-shadow: none;
    color: #17494d;
    font: 16px/1 "Proxima Nova",Arial,sans-serif;
    height: 1.5rem;
    padding: 1rem;
    width: 80%;
}
.col-2{
    background: #f8f9f9;
    border-radius: 0;
    border: 1px solid lightgray;
    box-shadow: none;
    color: #17494d;
    font: 16px/1"Proxima Nova",Arial,sans-serif;
    height: 1.5rem;
    padding: 1rem;
    width: 80%;

}
.field-2{
    box-sizing: inherit;
    padding: 0px 0px 0px 1px;

}
.col-3{
    background: #f8f9f9;
    border: 0.2px solid;
    border-color: lightgray;
    display: block;
    box-shadow: none;
    color: #17494d;
    font: 16px/1"Proxima Nova",Arial,sans-serif;
    height: 1.5rem;
    padding: 18px 15px 18px 15px;
    width: 80%;
    margin-bottom: 1.5rem;

}
input:focus{
    background: white;
}

.Msg textarea{
    width: 82.5%;
    height: 90px;
    padding: 5px 10px 5px 10px;
    font: 16px"Proxima Nova",Arial,sans-serif;
    color: #17494d;
    margin-bottom: 7px; 
}
.btn button{
    width: 350px;
    margin-top: 18px;
    height: 50px;
    background-color: white;
    color: black;
    font:16px"Proxima Nova",Arial,sans-serif;
    cursor: pointer;
    border: 1px solid;

}
.btn button:hover{
    color: white;
    background-color: black;
    font: 16px"Proxima Nova",Arial,sans-serif;

}
.social-links ul{
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  justify-content: space-between;
  display: flex;

}
.social-links li{
    list-style: none;
    margin: 0px 20px;
}
.social-links h3{
    color: gray;
    margin: 0px 40px 30px 30px;
}

li:hover {
  opacity: 0.7;
}
.fa-share-nodes{
    opacity: 0.5;
}
.fa-facebook {
  color: #3B5998;
  width: 40px;
  height: 50px;
}

.social-links .fa-twitter{
  color: #55ACEE;
  width: 40px;
}
.fa-tumblr {
  color: #2c4762;
  width: 40px;
}
hr{
    margin: 1px 0px 0px 0px;
    border:1px solid #E1E8EB;
    background-image: linear-gradient(90deg,rgba(0,0,0,0.00) 0%,#000000 50%,rgba(0,0,0,0.00) 100%);
    opacity: .3;
    width: 99%;
}
.logo2{
    width:210px
}
.info{
    margin-bottom: 30px;
}
.container{
    width: 100%;
    padding-top: 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.row ul{
    list-style-type:none;
}
.contact-info{
    color: grey;
    display: flex;
    font-size: 18px;
    text-align: center;
    margin: 0px 16px 18px 700px;
}
.contact-info i{
    width: 30px;
    height: 30px;
    color: grey;
    font-size: 18px;

}
.phone{
    margin:-381px -183px -10px 0px;
}
.email{
    margin: -341px 0px 0px 0px;
}
